.login-links ul li {
    margin-block: 1rem;
}

.container {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
    margin-block: 2rem;
    padding-inline: 3rem;
}

.right-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.5rem 2rem;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column: -1 / 1;
}

.about div:nth-of-type(2 ) {
    display: grid;
    gap: 1rem;
    grid-template-columns: 0.2fr 0.8fr;
}

.about h1{
    grid-column: 1/-1;
}

.about .image-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 5px;
    box-shadow: 0px 3px 10px 3px hsla(0, 0%, 0%, 0.2);
    text-align: center;
    overflow: hidden;
    padding-bottom: 0.5rem;
    height: fit-content;
}

.about .image-container img {
    width: 100%;
}

.about .image-container p {
    font-weight: 500;
}

.about .about-hod {
    text-align: justify;
}

.about .about-hod span {
    font-weight: 600;
}

h1 {
    letter-spacing: 2px;
    color: hsl(354, 74%, 49%);
    font-weight: 500;
}
