* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.login-container {
    position: relative;
    background-color: #ffffff;
    padding: 3rem 2.5rem;
    box-shadow: 0 0 24px rgba(149, 157, 165, 0.2);
    margin: auto;
    width: 22rem;
    border-radius: 0.75rem;
}

.login-card {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.login-content {
    text-align: center;
}

.error-message {
    font-size: 0.875rem;
    color: #e53e3e;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    color: #4a5568;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.input-group>div {
    position: relative;
}

.input-field {
    border: 1px solid #cbd5e0;
    padding: 0.5rem;
    border-radius: 0.25rem;
    outline: none;
    margin-bottom: 1rem;
    width: 100%;
}

.input-field:focus-visible {
    outline: 1px solid lightskyblue;
}

.login-footer {
    padding-top: 2rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
}

label {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: small;
    color: gray;
    pointer-events: none;
    user-select: none;
    letter-spacing: 0.5px;
    background-color: white;
    transition: all 0.1s ease-in-out;
    padding-inline: 0.25rem;
}

input:focus ~ label,
input:not(:focus):valid ~ label {
    top: -7px;
    font-size: x-small;
    color: #404040;
}

.login-button {
    background-color: #4299e1;
    padding: 0.25rem 1rem;
    color: #ffffff;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: large;
    border: none;
    width: 100%;
}

.login-button:hover {
    background-color: #3182ce;
}